.grid {
    display: grid;
}

.center {
    justify-self: center;
    align-self: center;
}

.delete--item {
    animation: delete 2s forwards  ease-in-out;

}

@keyframes delete {
        0% {
            transform: translate(15%, 0);
            opacity: 1;
        }
        
        100% {
            transform: translate(-100%, 0);
            opacity: 0;
        }
}
    

.wrapper {
    height: $f-port-size * 1vh;
    width: $f-port-size * 1vw;
    @include linear-gradient($direction-deg, $f-gradient-color, $s-gradient-color);
    @extend .grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    grid-template-areas: "header" "main" "logs";
    .header {
        grid-area: header;
        @extend .center;
    }
    .main {
        grid-area: main;
        @extend .center;
        padding: 0 $s-size;
        position: relative;

    }
    .logs {
        grid-area: logs;
       // @extend .center;
        &__items {
            
            }
        &__item {
            @extend .grid;
            grid-template-columns: 3fr 3fr 1fr;

        }
    }
}
