// Colors
$f-gradient-color: #002650;
$s-gradient-color: #3A56A5;
$d-input-color: #8092A7;
$l-input-color: #B7C1CD;
$white: #fff;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Port size
$m-port-size: 50;
$xl-port-size: 90;
$f-port-size: 100;

/*-------------*/
$direction-deg: -185deg;

// Font family
$font-family: 'Helvetica',Arial,sans-serif;